.incoming:not(.history) .x-sender,
.incoming:not(.history) a,
#Chat:not(.groupchat) .status .x-message,
#Chat:not(.groupchat) .status a,
#Chat:not(.groupchat) .event .x-message,
#Chat:not(.groupchat) .event a
{
	color: hsla(0, 0%, 0%, 1) !important;
}

.outgoing:not(.history) .x-sender,
.outgoing:not(.history) a
{
	color: hsla(0, 0%, 0%, 1) !important;
}

#Chat
{
	background: white;
}

.x-container:not(.consecutive),
.message.action + .x-container.consecutive,
.message.action
{
	border-top: 1px solid hsla(0, 0%, 88%, 1);
}

.x-container.action {
	min-height: 3.1em !important;
}

.focus {
	background-image: none;
	background-repeat: no-repeat;
	background-color: hsla(220, 20%, 97%, 1);
}

.mention {
	background-image: url(/Users/user/Desktop/bluedot.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	background-size: 9px 9px;

}

.focus.mention {
	background-image: url(/Users/user/Desktop/bluedot.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	background-size: 9px 9px;
	background-color: hsla(220, 20%, 97%, 1);
}


img.x-buddyicon, .history:hover img.x-buddyicon {
	border-radius: 3px;
	padding-bottom: 0;
	opacity: 1;
}

.message:not([src*="buddy_icon.png"]) .x-sender
{
	margin-left: 2.7em;
}

.message:not([src*="buddy_icon.png"]) .x-message {
	margin-left: 2.95em;
}

.x-container {
	padding-left: 20px;
}

a
{
	border-bottom: none;
	text-decoration: none;
}

a:hover
{
	border-bottom: none;
}

.outgoing:not(.history) a, .history:hover a
{
	color: #576EFF !important;
}

.outgoing:not(.history) a:hover, .history:hover a:hover
{
	color: #374EE5 !important;
}

.history .x-sender, .history .x-message {
	color:black !important;
}

.history.mention {
	background-image: url(/Users/user/Desktop/bluedot.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	background-size: 9px 9px;
}

.history {
	opacity:0.5;
}

.history:hover {
	opacity:1;
}