.incoming:not(.history) .x-sender,
.incoming:not(.history) a,
#Chat:not(.groupchat) .status .x-message,
#Chat:not(.groupchat) .status a,
#Chat:not(.groupchat) .event .x-message,
#Chat:not(.groupchat) .event a
{
	color: hsla(0, 0%, 0%, 1) !important;
}

.outgoing:not(.history) .x-sender,
.outgoing:not(.history) a
{
	color: hsla(0, 0%, 0%, 1) !important;
}

#Chat
{
	background: white;
	padding: 0 0 4px 0;
}

.x-container:not(.consecutive),
.message.action + .x-container.consecutive,
.message.action
{
	border-top: 1px solid hsla(0, 0%, 88%, 1);	
	margin: 4px 0 0 0;
}
.message:not(.action) + .message.consecutive:not(.action) .x-message {
	padding:0;
}



.focus .x-message {
	background:url(../images/bluehalfdot.png) no-repeat left center;
	background-size: 0.9em;
	padding: 0 0 0 1.1em !important; 	
}

.focus {
	background:none;
	/*background-image: none;
	background-repeat: no-repeat;
	background-color: hsla(220, 20%, 97%, 1);*/
}
.focus.mention {
	background: none;
	/*background: none hsla(220, 20%, 97%, 1);*/
}

.mention {
	background: none;
}

.mention .x-message {
	background:url(../images/bluedot.png) no-repeat left center;
	background-size: 0.9em;
	padding:  1.1em !important; 
}


img.x-buddyicon, .history:hover img.x-buddyicon {
	border-radius: 3px;
	padding-bottom: 0;
	opacity: 1;
	width: 2.3em;
	height: 2.3em;
	left: 5px;
}

.x-sender
{
	margin-left: 2.3em !important;
	line-height:1.3em !important;

}

.x-message {
	margin-left: 2.5em !important;
	line-height:1.3em !important;

}
.x-time {
	line-height: 1em;
}

.x-container {
	padding: 0 8px;
}

a
{
	border-bottom: none;
	text-decoration: none;
}

a:hover
{
	border-bottom: none;
}

.outgoing:not(.history) a, .history:hover a
{
	color: #576EFF !important;
}

.outgoing:not(.history) a:hover, .history:hover a:hover
{
	color: #374EE5 !important;
}

.history .x-sender, .history .x-message {
	color:black !important;
}

.history.mention {
	background: none;
}

.history {
	opacity:0.5;
}

.message:not(.consecutive) .x-message, .message.action + .message.consecutive .x-message {
	padding-top:0 !important;
}

.x-container.message.showIcons:not([src*="buddy_icon.png"]):not(.consecutive), .message.action + .x-container.message.consecutive.showIcons:not([src*="buddy_icon.png"]), .message.action.showIcons:not([src*="buddy_icon.png"]) {
	min-height:0;
}

img[src*="buddy_icon.png"] {
	display: block;
}

.action img{
	display: none;
}

.x-container:not(.history) .x-time {
	color: #0079E8;
}